/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

:root {
   --primary-bg-color: #087f5b;
   --color1:#087f5b;
   --color1-tint :#c3fae8;

   --text-color: #fff;
   --text-color-tint: #495057db;
 }
 
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 /* ------------------------ */
 /* GENERAL STYLES */
 /* ------------------------ */
 body {
   font-family: 'Inter',sans-serif;
   color:var(--text-color);
   line-height: 1;
 }

 
.carousal {
   background-color: var(--primary-bg-color);
   width:800px;
   margin:100px auto;
   border-radius: 8px;
   padding:32px 48px 32px 86px;
   /* padding-left: 86px; */
   display: flex;
   /* align-items: center; */
   gap:86px;
   position: relative;
}

img {
   height:200px;
   border-radius: 8px;
   transform:scale(1.5);
   box-shadow: 0 10px 32px 5px rgba(0,0,0,0.25) 
}

.testimonial {

}

.testimonial-text {
   font-size: 18px;
   line-height: 1.5;
   font-weight: 500;
   margin-bottom: 32px;
}

.testimonial-author {
   font-size: 14px;
   color:var(--color1-tint)
}

.testimonial-job {
   font-size: 12px;
   color: var(--color1-tint)
}

/* Controls */
.btn {
   border-radius: 50%;
   border: none;
   background-color: var(--text-color);
   height: 48px;
   width: 48px;
   /* padding:10px; */
   position: absolute;

   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.btn--left {
   left:0px;
   top: 50%;
   transform: translate(-50%, -50%);
}

.btn--right {
   right:0px;
   top: 50%;
   transform: translate(50%, -50%);
}

.btn-icon {
   width: 24px;
   height: 24px;
   fill:var(--color1);
}


.dots {
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translate(-50%, 32px);
   display: flex; 
   gap:12px;
}

.dot {
   height:12px;
   width:12px;
   background-color: var(--text-color);
   border: 2px solid var(--color1);
   border-radius: 50%;
}
.dot--fill {
   background-color: var(--color1);
}
